/* GLOBAL STYLES AND VARIABLES */

:root {
  /* Define colors as intentions */
  --primary: white;
  --background: yellow;
  --danger: red;
  --textColor: #222;
  --lineColor: black;

  /* Styles */

  /* Type */

  /* Elevation */

  /* Positioning */
}
